#detail_header {
  height: 1.3226rem;
  width: 100%;
  background-color: #63A230;
  text-align: center;
  color: white;
  line-height: 1.3226rem;
  display: flex;
  justify-content: space-around;
  font-size: 0.596296rem;
}
#detail_header img {
  height: 0.8rem;
  width: 0.8rem;
  margin: 0.2545162rem 0.1rem;
}
#detail_header span {
  height: 1.3226rem;
  line-height: 1.3226rem;
  color: white;
  text-align: center;
}
#swp {
  background-color: deepskyblue;
  height: 5.555556rem;
  width: 100%;
}
#swp img {
  width: 100%;
  height: 5.555556rem;
}
#detail_name {
  padding: 0 0.2rem;
}
#detail_name h4 {
  font-size: 0.509259rem;
  line-height: 1.083333rem;
  font-weight: bold;
}
#detail_name p {
  line-height: 1.083333rem;
  display: flex;
  justify-content: space-between;
}
#detail_name p span {
  color: #ABABAB;
}
#detail_name p #ipt {
  color: black;
  text-align: center;
}
#detail_name p #ipt input {
  width: 0.933333rem;
  height: 0.9rem;
  line-height: 0.9rem;
  border: 1px solid #F1F1F1;
}
#detail_name p #ipt input:nth-of-type(1) {
  border-radius: 0.2rem 0 0 0.2rem;
}
#detail_name p #ipt input:nth-of-type(2) {
  width: 0.633333rem;
  background-color: white;
}
#detail_name p #ipt input:nth-of-type(3) {
  border-radius: 0 0.2rem 0.2rem 0;
}
#detail_name #prise {
  display: flex;
  justify-content: space-between;
}
#detail_name #prise span {
  color: gold;
  font-size: 0.509259rem;
}
#detail_name #prise input {
  height: 0.925926rem;
  width: 2.777778rem;
  margin-left: 0.2rem;
  line-height: 0.885926rem;
  border-radius: 0.3rem;
  color: white;
  border: none;
}
#detail_name #prise input:first-child {
  background-color: #F6AC00;
}
#detail_name #prise input:last-child {
  background-color: #D8534E;
}
#list button {
  width: 50%;
  height: 1.12037rem;
  border: 1px solid #ccc;
}
#list button:nth-of-type(1) {
  background-color: white;
  border: none;
  border-top: 1px solid #ccc;
}
#list #massage table {
  margin: 0.2rem ;
  width: 98%;
}
#list #massage table tr td {
  border: 0.009259rem solid #CCCCCC;
}
#list #massage img {
  width: 100%;
  height: 9.601852rem;
}
